<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>KustomSports</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="./styles.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
          <div class="sidebar-heading border-bottom bg-light">API KustomSports Productos</div>
          <div class="list-group list-group-flush">
            <%- include('../partials/navlinks') %>
          </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
          <!-- Top navigation-->
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
              <button class="btn btn-primary btn-sm" id="sidebarToggle">Toggle Menu</button>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            </div>
          </nav>
        </div>
      </div>
    </header>
      <h1>Lista de productos</h1>
      
      <% if (productos.length > 0) { %>
        <table class="table table-sm table-hover">
          <caption>Lista total de productos</caption>
          <thead>
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
            </tr>
          </thead>
            <% productos.forEach(function(producto){ %>
              <tr>
                <td><%= producto.id %></td>
                <td><%= producto.title %></td>
                <td><%= producto.price %></td>
                <td><%= producto.thumbnail %></td>
              </tr>
            <%}) %>
        </table>
      <%} else { %>
        <p> No hay productos en la lista </p>
      <% } %>
    <!-- Bootstrap core JS-->
  <script src="./js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="./js/scripts.js"></script>
  </body>
</html>
